@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

:root {
    --font-poppins: "Poppins";
    --background-origin: #10101d;
    --white: #FFFFFF;
    --add-button: #FFA500;
    --add-button-shadow: rgba(238, 156, 167,0.4);
    --background-item: #191933;
    --checkbox-color: #FFA500;
    --checkbox-shadow: rgba(238, 156, 167, 0.2);
    --red: #ff0000;
}

*{
    box-sizing: border-box;
}*

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 1rem;
    color: var(--white);
    background-image: 
    linear-gradient(62deg, rgba(255, 165, 0, 0.973) 13%, rgba(255, 165, 0, 0.5) 4%),
    linear-gradient(44deg, rgba(255, 165, 0, 0.079) 39%, rgba(128, 128, 128, 0.5) 18%),
    linear-gradient(118deg, rgba(128, 128, 128, 0.03) 40%, rgba(255, 165, 0, 0.8) 60%),
    linear-gradient(58deg, rgba(128, 128, 128, 0.161) 83%, rgba(255, 165, 0, 0.6) 23%);
    background-attachment: fixed;
  background-size: 100% 100%;
    background-blend-mode: normal,lighten,multiply,hard-light;
    overflow: hidden;
}

.content{
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background-color: var(--background-origin);
    overflow: auto;
}

.content__title{
    font-size: 2rem;
    font-weight: 600;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    margin-top: 3rem;
}

.content__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.content__form__input{
    width: 100%;
    padding: 0 4px;
    outline: none;
    border: none;
    border-right: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    margin: 0 0.5rem 0.5rem 0;
    color: var(--white);
    box-shadow: none;
    border-radius: 0;
}

.content__form__input::placeholder{
    color: var(--white);
    font-family: var(--font-poppins);
    font-size:4rem;
}

.content__form__submit{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    flex-shrink: 0;
    border: none;
    border-radius: 50%;
    color: var(--white);
    background: var(--add-button);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'/%3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3C/svg%3E");
    background-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 0 0 12px 0 var(--add-button-shadow);
}

.content__list{
    list-style: none;
    padding: 0;
}

.product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-item);
    border-radius: 4px;
    margin-bottom: 0.7rem;
    padding: 0.5rem;
    font-size: 0.7rem;
}

.finish-button{
    order: -1;    
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid var(--white);
    margin: 0.2rem 0.5rem 0 0;
    background-color: transparent;
    
    &:hover {
        background-image: url(../image/check.png);
        background-size: 0.5rem;
        background-position: center;
        background-repeat: no-repeat;
        border-color: var(--checkbox-color);
        box-shadow: 0 0 0 3px var(--checkbox-shadow);
    }
}

.done{
    text-decoration: line-through var(--red) 2px;
}

.delete-button{  
    width: 1rem;
    height: 1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;  
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ff3d46' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'%3E%3Cpolyline points='3 6 5 6 21 6'/%3E%3Cpath d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'/%3E%3Cline x1='10' y1='11' x2='10' y2='17'/%3E%3Cline x1='14' y1='11' x2='14' y2='17'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
}

@media screen and (min-width: 390px){
    .content{
        padding: 2rem 5rem;
    }
}

@media screen and (min-width: 768px){
    .container{
        width: 50vw;
    }

    .content__form{
        flex-direction: row;
        width: 100%;
        padding-right: 1rem;
    }

    .content__form__input{
        margin-right: 2rem;
    }

    .content__form__input::placeholder{
        font-size: 0.8rem;
    }

    .product{
        font-size: 1rem;
    }

}

@media screen and (min-width: 2000px){
    .content__title{
        font-size: 2rem;
    }

    .container{
        width: 70vw;
    }

    .content__form__input::placeholder{
        font-size: 1.5rem;
    }

    .content__form__submit{
        width: 2.5rem;
        height: 2.5rem;
        background-size: 2rem;
    }
    

    .product{
        font-size: 1.5rem;
    }

    .finish-button{
        width: 2rem;
        height: 2rem;
        background-size: 1.2rem;
    }
    .delete-button{  
        width: 2rem;
        height: 2rem;
        border: none;
        background-size: 2rem;
    }
}